.container {
    position: relative;
    z-index: -1;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;

    padding-top: 100px;
    padding-bottom: 3rem;

    background-image: url('../../assets/Images/Detail-background.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.itemLateral {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    min-width: 270px;
    max-width: 25%;

    margin: 20px;
    padding-left: 20px;

    background-color: rgba(53, 55, 57, 0.7);
    backdrop-filter: blur(5px);
    

    border-radius: 20px;

    color: antiquewhite;

    text-align: justify;
}

.img {
    width: 250px;
    height: 200px;
    margin: 20px 20px 20px 0;
    border-radius: 25px;
    
}

.ul_diets {
    font-style: oblique;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.ul_ingredients {
    margin: 0px;
    padding: 15px;

}

.score {
    color: black;
}

.itemMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    
    margin: 20px;
    padding: 20px;
    
    background-color: rgba(53, 55, 57, 0.7);
    backdrop-filter: blur(5px);
    

    border-radius: 20px;

    color: antiquewhite;
    text-align: justify;
}

.item_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

    width: 100%;
}

.section_btn {
    margin: 20px;
    
}