.container {
    background: #000000;
    height: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    /*text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
    box-shadow: 2px 2px 3px 0 rgba(70, 70, 70, 0.3),
                -2px -2px 3px 0 rgba(80, 80, 80, 0.3), 
                inset -2px -2px 3px 0 rgba(80, 80, 80, 0.3),
                inset 2px 2px 3px 0 rgba(70, 70, 70, 0.3);
}

.container:hover > .input {
    width: 200px;
}

.input {
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    /* font-weight: 500;
    font-size: 16px; */
    transition: 0.8s;  
}

.input:focus {
    width: 200px;
    background: transparent;
    border: none;
    outline:none;
   
    /* font-weight: 500;
    font-size: 16px; */
    transition: 0.8s;
}

.container .button #icon {
    color: #ffffff;
    font-size: 15px;
}

/* @keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
} */

/* .container:hover{
  animation: hoverShake 0.15s linear 3;
} */